@import '~bootstrap/scss/bootstrap.scss';
@import './parzials/variables';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500;700&display=swap');

#app {
    font-family: 'Spartan', sans-serif;
    font-size: 100%;

    .text-green {
        color: $green-color;
    }

    .title {
        font-family: 'Playfair Display', serif;
    }

    .subtitle {
        font-family: 'Darker Grotesque', sans-serif;
        letter-spacing: 3px;
        text-transform: uppercase;

    }

    .my_btn {
        background-color: $green-color;
        color: white;
        font-weight: bold;
        font-size: 0.8em;
        border: 0;
        border-radius: 10px;
        padding: 0 5em;

        &:hover,
        &:active {
            background-color: $button-hover;
        }
    }
}